{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Success | FEB-UNM</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v={{ STATIC_VERSION }}"> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>

    <!-- Login Page -->

    <div class="container">
        <i id="theme-toggle" class="ri-moon-line"></i>
        <h2>Forgot Password</h2>
        <p class="info">Silahkan masukkan email anda. Kami akan mengirimkan link untuk atur ulang kata sandi</p>
        <form>
            <input type="email" placeholder="Phone number / email address" required>
            <div class="terms">
                <label for="terms">Saya menyetujui untuk melakukan pengiriman email untuk mengatur ulang kata sandi.<a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</label>
            </div>
            <button type="submit">Reset Password</button>
            <div class="links">
                <a href="{% url 'home' %}">Remmembered Password? Login</a>
            </div>
        </form>
    </div>
    <!-- Login Page -->

<!-- IF diperlukan saja/Dark Mode -->
    <script>
        const toggleButton = document.getElementById('theme-toggle');
        toggleButton.addEventListener('click', () => {
            document.body.classList.toggle('dark-mode');
            localStorage.setItem('theme', document.body.classList.contains('dark-mode') ? 'dark' : 'light');
        });
        
        if (localStorage.getItem('theme') === 'dark') {
            document.body.classList.add('dark-mode');
        }
    </script>
<!-- IF diperlukan saja /Dark Mode -->
</body>
</html>